.alert{background-color:transparent;border-radius:0.375rem;border-style:solid;border-width:1px;padding:1.000rem;}
.alert-primary{border-color:rgba(17,24,39,1.00);color:rgba(17,24,39,1.00);}
.alert-destructive{border-color:rgba(239,68,68,1.00);color:rgba(239,68,68,1.00);}
