.badge{align-items:center;border-radius:9999px;display:inline-flex;font-size:0.750rem;font-weight:600;line-height:1.000rem;padding-top:0.250rem;padding-right:0.750rem;padding-bottom:0.250rem;padding-left:0.750rem;}
.badge-primary{background-color:rgba(17,24,39,1.00);color:rgba(255,255,255,1.00);}
.badge-secondary{background-color:rgba(229,231,235,1.00);color:rgba(17,24,39,1.00);}
.badge-destructive{background-color:rgba(239,68,68,1.00);color:rgba(255,255,255,1.00);}
.badge-outline{background-color:transparent;border:1px solid rgba(229,231,235,1.00);}
