package main

templ Page() {
    <!DOCTYPE html>
    <html>
        <head>
            <title>Home</title>
        </head>
        <body>
            @Button("Button One")
            @Button("Button Two")
        </body>
    </html>
}